<h1>Listado de los tipos de teléfonos</h1>

<table>
  <tr>
    <th>Tipo de teléfono</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_tels.each do |tipo_tel| %>
  <tr>
    <td><%= tipo_tel.nom_tipo_tel %></td>
    <td><%= link_to 'Mostrar', tipo_tel %></td>
    <td><%= link_to 'Editar', edit_tipo_tel_path(tipo_tel) %></td>
    <td><%= link_to 'Destruir', tipo_tel, method: :delete, data: { confirm: 'Está seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo tipo de teléfono', new_tipo_tel_path %>
