<h1>Listado de los tipos de entidades</h1>

<table>
  <tr>
    <th>Nombre del tipo de entidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_entidades.each do |tipo_entidad| %>
  <tr>
    <td><%= tipo_entidad.nom_tipo_entidad %></td>
    <td><%= link_to 'Mostrar', tipo_entidad %></td>
    <td><%= link_to 'Editar', edit_tipo_entidad_path(tipo_entidad) %></td>
    <td><%= link_to 'Destruir', tipo_entidad, method: :delete, data: { confirm: 'Está seguro que desea borrarlo?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo tipo de entidad', new_tipo_entidad_path %>
