<legend>Listado de los tipos de entidades</legend>

<table class="table table-hover">
  <thead>
    <th>Nombre del tipo de entidad</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @tipo_entidades.each do |tipo_entidad| %>
  <tr>
    <td><%= tipo_entidad.nom_tipo_entidad %></td>
    <td><%= link_to '  ', tipo_entidad, :class =>"icon-th-list" %></td>
    <td><%= link_to '  ', edit_tipo_entidad_path(tipo_entidad) , :class => "icon-edit"%></td>
    <td><%= link_to '  ', tipo_entidad, method: :delete, data: { confirm: 'Está seguro que desea borrarlo?' } , :class => "icon-remove"%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo tipo de entidad', new_tipo_entidad_path %>
