<p id="notice"><%= notice %></p>

<p>
  <strong>Nom organo:</strong>
  <%= @organo_de_gobierno.nom_organo %>
</p>

<p>
  <strong>Tipo organo de gobierno:</strong>
  <%= @organo_de_gobierno.tipo_organo_de_gobierno.nom_tipo_de_organo %>
</p>


<%= link_to '   ', edit_organo_de_gobierno_path(@organo_de_gobierno), :class => "icon-edit" %> |
<%= link_to '   ', organo_de_gobiernos_path, :class =>"icon-arrow-left"  %>
