
            <legend>Listado de sesiones</legend>
			<table class = "table table-hover">
			  <thead>
				<th>Status</th>
				<th>Fecha</th>
				<th>Lugar</th>
				<th>Extra ordinaria</th>
				<th>Suplente</th>
				<th></th>
				<th></th>
				<th></th>
			  </thead>
			  <% @sesions.each do |sesion| %>
			  <tbody>
				<td><%= sesion.status %></td>
				<td><%= sesion.fecha %></td>
				<td><%= sesion.lugar %></td>
				<td><%= sesion.extra_ordinaria %></td>
				<td><%=  %></td>
				<td><%= link_to ' ', [@entidad_paraestatal, sesion], :class => "icon-th-list"%></td>
				<td><%= link_to ' ', edit_entidad_paraestatal_sesion_path(@entidad_paraestatal, sesion), :class=>"icon-edit"  %></td>
				<td><%= link_to ' ', [@entidad_paraestatal, sesion], method: :delete, data: { confirm: 'Está seguro?' } , :class=>"icon-remove"%></td>
			  </tbody>
			<% end %>
			</table>
       

<%= link_to "Nueva sesión", new_entidad_paraestatal_sesion_path(@entidad_paraestatal), :class => "btn"%> |
<%= link_to "Regresar", entidad_paraestatal_path([@entidad_paraestatal, @sesion]) %>
