<%= form_for([@sesion, @lista_acuerdo], :html => { :multipart => true }) do |f| %>
  <% if @lista_acuerdo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lista_acuerdo.errors.count, "error") %> prohibited this lista_acuerdo from being saved:</h2>

      <ul>
      <% @lista_acuerdo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :avance %></strong><br />
    <%= f.text_field :avance %>
  </div>
 
	Archivo actual: <%= f.object.act unless f.object.act.nil? %><br/ >
  <div class="field">
    <strong><%= f.label :act %></strong><br />
    <%= f.file_field :act %>
  </div>


  <div class="actions">
    <%= f.submit "Actualizar Lista de Acuerdos", :class => "btn" %>
  </div>

<% end %>