<legend>Lista de Acuerdos</legend>
<table class= "table table-hover">
  <thead>
    <th>Act</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @lista_acuerdos.each do |lista_acuerdo| %>
<tbody>
  <tr>
    <td><%= lista_acuerdo.act %></td>
    <td><%= link_to ' ', [@sesion, lista_acuerdo] , :class=>"icon-th-list" %></td>
    <td><%= link_to ' ', edit_sesion_lista_acuerdo_path(@sesion, lista_acuerdo), :class=>"icon-edit" %></td>
    <td><%= link_to ' ', [@sesion, lista_acuerdo], method: :delete, data: { confirm: 'Está seguro que desea destruirla?' } ,  :class=>"icon-remove" %></td>
  </tr>
</tbody>
<% end %>
</table>

<br />

<%= link_to '  ', new_sesion_lista_acuerdo_path(@sesion) , :class=>"icon-home" %>
<%= link_to 'Regresar', entidad_paraestatal_sesions_path([@entidad_paraestatal, @sesion]) %>
