<legend>Listado de trámites</legend>

<table class="table table-hover">
  <thead>
    <th>Nombre doc</th>
    <th>Entidad paraestatal</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @tramites.each do |tramite| %>
  <tr>
    <td><%= tramite.nombre_doc %></td>
    <td><%= tramite.entidad_paraestatal_id %></td>
    <td><%= link_to '  ', tramite, :class => "icon-th-list" %></td>
    <td><%= link_to '  ', edit_tramite_path(tramite), :class => "icon-edit" %></td>
    <td><%= link_to '  ', tramite, method: :delete, data: { confirm: 'Está seguro?' }, :class => "icon-remove" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo trámite', new_tramite_path %>
