<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre del documento:</strong>
  <%= @tramite.nombre_doc %>
</p>

<p>
  <strong>Entidad paraestatal:</strong>
  <%= @tramite.entidad_paraestatal_id %>
</p>


<%= link_to '   ', edit_tramite_path(@tramite), :class  =>"icon-edit" %> |
<%= link_to '   ', tramites_path, :class => "icon-arrow-left" %>
