<legend>Listado de secretarías</legend>

<table class="table table-hover">
  <thead>
    <th>Nombre de la secretaría</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @secretaria.each do |secretarium| %>
  <tr>
    <td><%= secretarium.nom_secretaria %></td>
    <td><%= link_to '  ', secretarium, :class => "icon-th-list" %></td>
    <td><%= link_to '  ', edit_secretarium_path(secretarium), :class=>"icon-edit" %></td>
    <td><%= link_to '  ', secretarium, method: :delete, data: { confirm: 'Está seguro?' }, :class =>"icon-remove" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Secretaría', new_secretarium_path %>
