<legend>Listado de empleados</legend>

<table class = "table table-hover">
  <thead>
    <th>Nombre</th>
    <th>Apellido paterno</th>
    <th>Apellido materno</th>
    <th>Puesto en la entidad</th>
    <th>Dirección de trabajo</th>
    <th>Activo en la entidad</th>
    <th>Tipo de usuario</th>
    <th>Entidad paraestatal</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @empleados.each do |empleado| %>
  <tbody>
    <td><%= empleado.nombre %></td>
    <td><%= empleado.ap_paterno %></td>
    <td><%= empleado.ap_materno %></td>
    <td><%= empleado.puestos_entidad.nom_puesto %></td>
    <td><%= empleado.dir_trabajo %></td>
    <td><%= empleado.activo %></td>
    <td><%= empleado.tipo_usuario.nom_usuario %></td>
    <td><%= empleado.entidad_paraestatal.nom_entidad %></td>
    <td><%= link_to '  ', empleado, :class=>"icon-th-list" %></td>
    <td><%= link_to '  ', edit_empleado_path(empleado), :class=>"icon-edit" %></td>
    <td><%= link_to '  ', empleado, method: :delete, data: { confirm: '¿Está seguro que desea borrarlo?' }, :class=>"icon-remove" %></td>
  </tbody>
<% end %>
</table>

<br />

<%= link_to 'Nuevo empleado', new_empleado_path %>
