<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empleado.nombre %>
</p>

<p>
  <strong>Ap paterno:</strong>
  <%= @empleado.ap_paterno %>
</p>

<p>
  <strong>Ap materno:</strong>
  <%= @empleado.ap_materno %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @empleado.puestos_entidad.nom_puesto %>
</p>

<p>
  <strong>Dir trabajo:</strong>
  <%= @empleado.dir_trabajo %>
</p>


<p>
  <strong>Activo en la entidad:</strong>
  <%= @empleado.activo %>
</p>

<p>
  <strong>Tipo usuario:</strong>
  <%= @empleado.tipo_usuario.nom_usuario %>
</p>

<p>
  <strong>Entidad paraestatal:</strong>
  <%= @empleado.entidad_paraestatal.nom_entidad %>
</p>


<%= link_to '  ', edit_empleado_path(@empleado), :class=> "icon-edit" %> |
<%= link_to '  ', empleados_path,:class=>"icon-arrow-left" %>
