<legend>Listado de tipos de usuarios</legend>

<table class="table table-hover">
  <thead>
    <th>Nombre de usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @tipo_usuarios.each do |tipo_usuario| %>
  <tr>
    <td><%= tipo_usuario.nom_usuario %></td>
    <td><%= link_to '  ', tipo_usuario, :class => "icon-th-list" %></td>
    <td><%= link_to '  ', edit_tipo_usuario_path(tipo_usuario), :class=>"icon-edit" %></td>
    <td><%= link_to '  ', tipo_usuario, method: :delete, data: { confirm: 'Está seguro?' }, :class => "icon-remove" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo tipo de usuario', new_tipo_usuario_path %>
