<legend>Listado de teléfonos</legend>

<table class="table table-hover">
  <thead>
    <th>Número de teléfono</th>
    <th>Tipo de teléfono</th>
    <th>Empleado</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @telefonos.each do |telefono| %>
  <tr>
    <td><%= telefono.num_telefono %></td>
    <td><%= telefono.tipo_tel.try(:nom_tipo_tel) %></td>
    <td><%= telefono.empleado.try(:nombre) %></td>
    <td><%= link_to '  ', telefono, :class => "icon-th-list" %></td>
    <td><%= link_to '  ', edit_telefono_path(telefono), :class=>"icon-edit" %></td>
    <td><%= link_to '  ', telefono, method: :delete, data: { confirm: '¿Está seguro que desea borrarlo?' }, :class=>"icon-remove" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo teléfono', new_telefono_path %>
