<p id="notice"><%= notice %></p>

<p>
  <strong>Número de teléfono:</strong>
  <%= @telefono.num_telefono %>
</p>

<p>
  <strong>Tipo de teléfono:</strong>
  <%= @telefono.tipo_tel.nom_tipo_tel %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @telefono.empleado.nombre %>
</p>


<%= link_to '   ', edit_telefono_path(@telefono), :class =>"icon-edit" %> |
<%= link_to '   ', telefonos_path, :class=>"icon-arrow-left" %>
