<legend>Listado de puestos de las entidades</legend>

<table class="table table-hover">
  <tr>
    <th>Nombre del puesto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @puestos_entidads.each do |puestos_entidad| %>
  <tr>
    <td><%= puestos_entidad.nom_puesto %></td>
    <td><%= link_to '   ', puestos_entidad, :class=>"icon-th-list" %></td>
    <td><%= link_to '   ', edit_puestos_entidad_path(puestos_entidad), :class=>"icon-edit" %></td>
    <td><%= link_to '   ', puestos_entidad, method: :delete, data: { confirm: 'Está seguro?' } , :class => "icon-remove"%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Puesto en la entidad', new_puestos_entidad_path %>
