<legend>Listado de emails</legend>

<table>
  <tr>
    <th>Correo</th>
    <th>Tipo email</th>
    <th>Empleado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emails.each do |email| %>
  <tbody>
    <td><%= email.correo %></td>
    <td><%= email.tipo_email.try(:nom_tipo_email) %></td>
    <td><%= email.empleado.try(:nombre) %></td>
    <td><%= link_to '  ', email , :class => "icon-th-list" %></td>
    <td><%= link_to '  ', edit_email_path(email) , :class => "icon-edit"%></td>
    <td><%= link_to '  ', email, method: :delete, data: { confirm: 'Está seguro?' }, :class => "icon-remove" %></td>
  </tbody>
<% end %>
</table>

<br />

<%= link_to 'Nuevo email', new_email_path %>
