<p id="notice"><%= notice %></p>

<p>
  <strong>Correo:</strong>
  <%= @email.correo %>
</p>

<p>
  <strong>Tipo de email:</strong>
  <%= @email.tipo_email.nom_tipo_email %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @email.empleado.nombre %>
</p>


<%= link_to '  ', edit_email_path(@email) , :class => "icon-edit"%> |
<%= link_to 'Regresar a listado de emails', emails_path %>
