<%= form_for (@entidad_paraestatal),  :html => {:class => "form-horizontal"} do |f| %>
  <% if @entidad_paraestatal.errors.any? %>
    <div id ="error_explanation">
      <h2><%= pluralize(@entidad_paraestatal.errors.count, "error") %> prohibited this entidad_paraestatal from being saved:</h2>

      <ul>
      <% @entidad_paraestatal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="control-group">
          <div class="control-label"> Nombre de Entidad:</div>
          <div class="controls"><%= f.text_field :nom_entidad , :placeholder=>"Entidad" %> </div>
      </div>
      <div class="control-group">
          <div class="control-label">Objeto Social:</div>
          <div class="controls"><%= f.text_area :objeto_social, :rows =>"4"%> </div>
      </div>
      <div class="control-group">
          <div class="control-label">Marco Normativo:</div>
          <div class="controls"><%= f.text_area :marco_normativo, :rows => "4"%> </div>
      </div>
      <div class="control-group">
          <div class="control-label">Tipo de Entidad:</div>
          <div class="controls"><%= f.select :tipo_entidad_id, TipoEntidad.all.collect {|p| [ p.nom_tipo_entidad, p.id ] }, { :include_blank => true }%> </div>
      </div>
       <div class="control-group">
          <div class="control-label">Órgano de Gobierno:</div>
          <div class="controls"> <%= f.select :organo_de_gobierno_id, OrganoDeGobierno.all.collect {|p| [ p.nom_organo, p.id ] }, { :include_blank => true }  %> </div>
      </div>
       <div class="control-group">
          <div class="control-label">Secretaría:</div>
          <div class="controls"> <%= f.select :secretaria_id, Secretaria.all.collect {|p| [ p.nom_secretaria, p.id ] }, { :include_blank => true } %> </div>
      </div>

  <div class="actions">
    <%= f.submit "#{ f.object.new_record? ? 'Crear entidad paraestatal': 'Actualizar entidad paraestatal'}", :class => "btn" %>
  </div>

<% end %>
 