<p id="notice"><%= notice %></p>
<legend>Mostrar Acuerdo</legend>
<p>
  <strong><b>Titulo:</strong></b>
  <%= @acuerdo.titulo %>
</p>

<p>
  <strong><b>Detalles:</strong></b>
  <%= @acuerdo.detalles %>
</p>

<p>
  <strong><b>Lista acuerdo:</strong></b>
  <%= @acuerdo.lista_acuerdo_id %>
</p>


<%= link_to '  ', edit_acuerdo_path(@acuerdo) , :class => "icon-edit"%> |
<%= link_to '  ', acuerdos_path , :class => "icon-remove"%>
