<legend>Listado de tipo de emails</legend>

<table class="table table-hover">
  <thead>
    <th>Tipo email</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @tipo_emails.each do |tipo_email| %>
  <tr>
    <td><%= tipo_email.nom_tipo_email %></td>
    <td><%= link_to '   ', tipo_email, :class =>"icon-th-list" %></td>
    <td><%= link_to '   ', edit_tipo_email_path(tipo_email), :class =>"icon-edit" %></td>
    <td><%= link_to '   ', tipo_email, method: :delete, data: { confirm: '¿Está seguro que desea borrarlo?' }, :class => "icon-remove" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo tipo de email', new_tipo_email_path %>
